.form {
  display: flex;
  flex-direction: column;
  width: 300px;

  .field {
    width: 100%;
  }
}

.spacer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dropButton {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-top: 20px;
}

.fileList {
  margin-top: 20px;
  display: flex;
}
